In [1]:
import pandas as pd

/tmp/ipykernel_195151/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
# df = pd.read_csv('../yellow_head.csv', nrows=100)

In [4]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

# use print to get rid of line spliter \n
# (DDL: data definition langugage) schema

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [5]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2,2021-01-01 00:23:24,2021-01-01 00:34:29,2,1.91,1,N,140,142,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0

In [7]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

# connect to engine

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
# df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
df_iter = pd.read_csv('../yellow_head.csv', iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

# if using the large file to iterate and divide chunks, len(df) will be 100000

99

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [30]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [19]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

CPU times: user 142 ms, sys: 9.66 ms, total: 151 ms
Wall time: 234 ms

99

In [18]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 16.9 ms, sys: 6.65 ms, total: 23.6 ms
Wall time: 33.2 ms

99

In [20]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk..., took 16.115 second
inserted another chunk..., took 15.076 second
inserted another chunk..., took 14.321 second
inserted another chunk..., took 17.030 second
inserted another chunk..., took 16.002 second
inserted another chunk..., took 15.990 second
inserted another chunk..., took 16.380 second
inserted another chunk..., took 15.642 second
inserted another chunk..., took 14.489 second
inserted another chunk..., took 14.900 second
inserted another chunk..., took 14.711 second

C:\Users\alexe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunk..., took 15.301 second
inserted another chunk..., took 9.552 second

StopIteration:

In [23]:
df_iter = pd.read_csv('../yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [24]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 16.505 second
inserted another chunk, took 11.593 second
inserted another chunk, took 11.028 second
inserted another chunk, took 11.338 second
inserted another chunk, took 11.885 second
inserted another chunk, took 9.913 second
inserted another chunk, took 9.352 second
inserted another chunk, took 9.427 second
inserted another chunk, took 9.689 second
inserted another chunk, took 9.570 second
inserted another chunk, took 9.497 second
inserted another chunk, took 9.648 second

/tmp/ipykernel_195151/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 9.597 second
inserted another chunk, took 6.750 second

StopIteration:

In [25]:
query = '''
SELECT 1 AS answer; 
'''

pd.read_sql(query, con=engine)

   answer
0       1

In [27]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

765

In [31]:
query0 = """
SELECT * 
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema'; 
"""

pd.read_sql(query0, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,yellow_tripdata_trip,root,None,False,False,False,False

In [30]:
query1 = """
SELECT * 
FROM yellow_tripdata_trip
LIMIT 10
"""

pd.read_sql(query1, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,None,2021-01-05 10:38:40,2021-01-05 10:46:20,None,1.30,None,None,170,161,None,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1,None,2021-01-05 10:17:14,2021-01-05 10:41:21,None,7.90,None,None,216,198,None,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
2,None,2021-01-05 10:39:00,2021-01-05 10:46:00,None,0.98,None,None,62,62,None,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
3,None,2021-01-05 10:05:00,2021-01-05 10:19:00,None,1.59,None,None,85,71,None,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
4,None,2021-01-05 10:18:08,2021-01-05 10:41:40,None,9.87,None,None,236,208,None,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0
5,None,2021-01-05 10:06:19,2021-01-05 10:26:11,None,10.28,None,None,185,235,None,22.93,0.0,0.5,2.75,0.00,0.3,26.48,0.0
6,None,2021-01-05 10:10:02,2021-01-05 10:28:14,None,7.14,None,None,55,155,None,24.42,0.0,0.5,2.75,0.00,0.3,27.97,0.0
7,None,2021-01-05 10:49:03,2021-01-05 11:02:57,None,1.50,None,None,236,161,None,12.50,0.0,0.5,3.16,0.00,0.3,18.96,2.5
8,None,2021-01-05 10:01:50,2021-01-05 11:01:03,None,11.81,None,None,265,92,None,31.68,0.0,0.5,0.00,0.00,0.3,32.48,0.0
9,None,2021-01-05 10:43:18,2021-01-05 11:06:16,None,9.78,None,None,83,244,None,28.46,0.0,0.5,2.75,6.12,0.3,38.13,0.0

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [3]:
df_zones = pd.read_csv('../taxi+_zone_lookup.csv')

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

NameError: name 'engine' is not defined

```docker

sudo docker run -it \
  -e POSTGRES_USER="root" \
  -e POSTGRES_PASSWORD="root" \
  -e POSTGRES_DB="ny_taxi" \
  -v /home/sherrytp/data-talks/01-docker-terraform/ny_taxi_postgres_data:/var/lib/postgresql/data \
  -p 5432:5432 \
postgres:13


docker pull dpage/pgadmin4

sudo docker run -it \
  -e PGADMIN_DEFAULT_EMAIL="admin@admin.com" \
  -e PGADMIN_DEFAULT_PASSWORD="root" \
  -e 8080:80 \
  dpage/pgadmin4

docker network create pg-network

docker run -it \
    -e POSTGRES_USER="root" \
    -e POSTGRES_PASSWORD="root" \
    -e POSTGRES_DB="ny_taxi" \
    -v $(pwd)/ny_taxi_postgres_data:/var/lib/postgresql/data \
    -p 5432:5432 \
    --network=pg-network \
    --name pg-database \
    postgres:13

```